.home_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #f1f2f5;
    color: #ef4130;
}
.board_container{
    background-color: white;
    border: 5px solid #888;
}
.home_container>div:nth-child(2){
    align-self: start;
    padding: 8rem 3rem;
}
